body {
	background-color: yellow;
	color:blue;
}

#footer-brand {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

.panel-default {
	margin-top:  100px;
}
.panel-heading{
	padding: top: 100px;
}
.main{
	margin-bottom: 155px !important;
}
#page-title{
margin-top: 140px ;
}

hr {
	margin-top: -20px;
}